# User Constraint File for iCE40hx8k Breakout Board

# Onboard LED and GPIO
set_io led[0] B5
set_io led[1] B4
set_io dac_bin[0] E16
set_io dac_bin[1] F16

# Resetn button
set_io -pullup yes rstn P16

# Onboard 12Mhz oscillator
set_io clk J3
